.sidebar-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: width 0.15s ease-in-out;
}

@media (max-width: 639px) {
  // Sidebar styles when in closed state
  .sidebar-container.closed {
    width: 15vw;
    .overscreen {
      display: none;
    }
    .sidebar * {
      // the hamburger has display: block set to it so it's not disappearing
      display: none;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  background-color: rgb(243, 243, 243);
  height: 100%;
  width: min(240px, 60%);
}

.overscreen {
  background-color: rgba(236, 236, 236, 0.3);
  height: 100%;
  width: max(40%, calc(100% - 240px));
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 1.5rem 0;
  border-radius: 0 2rem 2rem 0;
  background-color: rgb(196, 196, 196);
  width: 100%;
  height: 30%;
}

.profile-photo-wrapper {
  width: 100px;
  height: 100px;
  img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
  }
}

.welcome-msg {
  font-weight: 500;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.sidebar-nav {
  text-align: center;
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    span {
      margin-left: 0.25rem;
      font-weight: 500;
    }
  }
  .link:hover {
    background-color: rgb(210, 210, 210);
  }
  h2 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.bookshelf-btn {
  display: block;
  padding: 1rem;
  width: 100%;
  text-align: start;
  font-weight: 500;
}

.bookshelf-btn:hover {
  background-color: rgb(194, 194, 194);
}

.bookshelf-btn.selected {
  background-color: gray;
}

.credit {
  width: fit-content;
  margin: 2rem auto;
  font-weight: 500;
  span {
    margin-left: 1rem;
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
    white-space: nowrap;
  }
}

@media (min-width: 640px) {
  #menu {
    display: none;
  }
  .sidebar {
    background-color: white;
    // TODO: remove this border after styling the Home page
    border-right: 1px solid black;
  }
  .overscreen {
    display: none;
  }
}
